appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
elastic-transport==8.15.0
elasticsearch==8.15.0
et-xmlfile==1.1.0
Flask-SQLAlchemy==3.1.1
fonttools==4.25.0
inflection==0.5.1
jsonpointer==2.1
munkres==1.1.4
openpyxl==3.0.10
patsy==0.5.3
ply==3.11
protobuf==3.20.3
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-lsp-jsonrpc==1.0.0
webencodings==0.5.1
flask-bcrypt-1.0.1
Flask
Flask-Login
Flask-Bcrypt
Flask-SQLAlchemy
Pillow
Werkzeug
flask_wtf