{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Your Achievements</h1>
    
    {% if completed_challenges %}
      <ul class="list-group">
        {% for challenge in completed_challenges %}
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <div class="achievement-image">
                <img src="{{ url_for('static', filename='challenges/' + challenge.image) }}" alt="{{ challenge.name }}" class="img-fluid" style="max-width: 100px; max-height: 100px;">
              </div>
              <div class="achievement-details" style="margin-left: 15px;">
                <h5>{{ challenge.name }}</h5>
                <!-- Only show the date part -->
                <p>Completed on: {{ challenge.completion_time[:10] }}</p>
                <p>Credits Won: {{ challenge.credits }} <i class="fas fa-gem"></i></p>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You haven't completed any challenges yet.</p>
    {% endif %}
  </div>
{% endblock %}



