{% extends "base.html" %}

{% block title %}My Achievements{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">My Achievements</h1>

    {% if achievements %}
      <div class="row">
        {% for achievement in achievements %}
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">{{ achievement.challenge_name }}</h5>
                <p class="card-text">Credits Won: {{ achievement.credits_won }}</p>
                <p class="card-text">Duration: {{ achievement.challenge_duration }} seconds</p>
                <p class="card-text">Participants: {{ achievement.participants }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>You have no achievements yet.</p>
    {% endif %}
  </div>
{% endblock %}
