{% extends "admin_base.html" %}

{% block content %}
<div class="container">
    <h1>Credit Request History</h1>
    {% if credit_requests %}
        <ul class="list-group">
            {% for request in credit_requests %}
                <li class="list-group-item">
                    <p>Date Submitted: {{ request.date_submitted.strftime('%Y-%m-%d') }}</p>
                    <p>User: {{ request.user.username }}</p>
                    <p>Requested Credits: {{ request.credits_requested }}</p>
                    
                    <!-- Display proof image if available -->
                    <p>Proof of Payment:</p>
                    <img src="{{ url_for('static', filename='payments/' ~ request.proof_image) }}" alt="Proof Image" style="max-width: 100px;">

                    <!-- Display status with color -->
                    <p>
                        Status:
                        <span class="badge {% if request.status == 'Approved' %}badge-success{% elif request.status == 'Rejected' %}badge-danger{% else %}badge-warning{% endif %}">
                            {{ request.status }}
                        </span>
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No approved or rejected credit requests found.</p>
    {% endif %}
</div>
{% endblock %}
