{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Challenge History</h1>
    
    {% if history_data %}
      <ul class="list-group">
        {% for challenge in history_data %}
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <div class="history-image">
                <img src="{{ url_for('static', filename='challenges/' + challenge.image) }}" alt="{{ challenge.name }}" class="img-fluid" style="max-width: 100px; max-height: 100px;">
              </div>
              <div class="history-details" style="margin-left: 15px;">
                <h5>{{ challenge.name }}</h5>
                <p>Completed on: {{ challenge.completion_time[:10] }}</p> <!-- Only displaying the date -->
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You have not joined any completed challenges yet.</p>
    {% endif %}
  </div>
{% endblock %}