{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Share a Post</h1>
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.image.label }}
        {{ form.image(class="form-control-file") }}
      </div>
      <div class="form-group">
        {{ form.message.label }}
        {{ form.message(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.challenge.label }}
        {{ form.challenge(class="form-control") }}
      </div>
      <button type="submit" class="btn btn-primary">Share Post</button>
    </form>
  </div>
{% endblock %}
